name: Latest portfolio
on:
  schedule:
      # Runs at the end of every day.
      - cron: '0 0 * * *'
  workflow_dispatch:

jobs:     
  job_1:
    name: update-index-with-project
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v2
        - uses: kaustubhgupta/PortfolioFy@main
          with:
            gh_token: ${{ secrets.TOKEN }}
            stats_choice: 2
            blogs: True
            theme: 2
            hackathons: True
            social_links: "https://twitter.com/jalaj_purohit/, https://in.linkedin.com/in/jalajpurohit/, https://codepen.io/jalajpurohit/, https://dev.to/jalajpurohit/, https://kaggle.com/jalajpurohit/, https://fb.com/jalajpurohit/, https://medium.com/@jalajpurohit/"
            allow_footer: False
